{{- define "content" -}}
<div class="nav">
  <p class="current-page">Weather</p>
  <p><a href="/about/">About</a></p>
  <form class="system float-right" action="{{ route "/system/" }}">
    <label for="system">
      Units
    </label>
    <select name="system" onchange="this.form.submit()">
      <option value="imperial" 
              {{ if eq .System "imperial" }} selected {{ end }}>
        Imperial
      </option>
      <option value="metric" 
              {{ if eq .System "metric" }} selected {{ end }}>
        Metric
      </option>
      <option value="mixed" 
              {{ if eq .System "mixed" }} selected {{ end }}>
        Mixed
      </option>
    </select>
    <input name="next" value="{{ route .Page }}" hidden>
    <noscript>
      <button type="submit">Save</button>
    </noscript>
  </form>
</div>


<h1>Weather in Provo</h1>

<h3 class="error hidden" id="disconnected">Disconnected</h3>
<div hx-ext="sse" 
     sse-connect="{{ route "/sse/rapid-updates/" }}" 
     sse-swap="message">
  {{ template "update-partial.html" . }}
</div>
<script>
  const errorTag = document.getElementById("disconnected");
  function checkConnection() {
    let updated = Date.parse(document.getElementsByClassName("live-time")[0].getAttribute("datetime"));
    let now = new Date().getTime();
    if (now - updated > 5000) {
      errorTag.classList.remove("hidden");
    } else {
      errorTag.classList.add("hidden");
    }
    setTimeout(checkConnection, 5000);
  }
  setTimeout(checkConnection, 5000);
</script>
{{- end -}}

{{- template "base.html" . -}}
